/* Resetting defaults */
body, h1, h2, h3, p, label {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 17px;
    line-height: 1.5;
    padding: 20px;
}

/* Logo */
#logo {
    width: 400px;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

/* Headers */
h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #009688;
}

h2 i, h3 i {
    color: #4CAF50;
}

/* Info form area */
#info-area {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#info-area label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

#info-area input[type=number] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5%;
    width: 95%;
    margin-bottom: 10px;
}

#info-area .body-type-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.body-type-group label {
    margin: 0;
}

.body-type-group input[type="radio"] {
    margin-right: 5px;
}

.calc-bmi {
    display: block;
    width: 100%;
    background-color: #009688;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 12px;
    font-size: 17px;
    cursor: pointer;
}

.calc-bmi:hover {
    background-color: #00796b;
}

#reset-button:hover {
    background-color: #E0E0E0;
    color: #333333;
}

/* Results area */
#bmi-calc, #bmr-calc {
    max-width: 400px;
    padding: 20px;
    margin: 10px auto;
    background-color: #ffffff;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.calculation {
    text-align: center;
}

#bmi-info h3 {
    color: #009688;
    margin-bottom: 10px;
}

#bmi-info p {
    color: #757575;
    margin-bottom: 15px;
    line-height: 1.5;
}

#bmi-info strong {
    color: #474545;
}

#bmi-info em {
    color: #009688;
    font-style: normal;
}

/** Media queries **/

/* Media queries for tablets (768px & up) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 15px;
    }

    #logo {
        width: 300px;
    }

    #info-area, #bmi-calc, #bmr-calc, #bmi-info {
        max-width: 90%;
        padding: 18px;
    }

    h1, h2 {
        font-size: 25px;
    }

    .calc-bmi {
        padding: 10px;
    }
}

/* Media queries for screens (480px & up) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        padding: 10px;
    }

    #logo {
        width: 250px;
    }

    h1, h2 {
        font-size: 20px;
    }

    #info-area, #bmi-calc, #bmr-calc, #bmi-info {
        max-width: 95%;
        padding: 10px;
    }

    #info-area label, #bmi-info p {
        font-size: 14px;
    }

    #info-area input[type="number"], .calc-bmi {
        padding: 8px;
        font-size: 12px;
    }

    .calc-bmi {
        font-size: 12px;
    }
}