/* Resetting defaults */
body,
h1,
h2,
h3,
p,
label {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 17px;
    line-height: 1.5;
    padding: 20px;
}

/* Logo */
#logo {
    width: 400px;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

/* Headers */
h1,
h2,
h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #009688;
}

h2 i,
h3 i {
    color: #4CAF50;
}

/* Info form area */
#info-area {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#info-area label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

#info-area input[type=number] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5%;
    width: 95%;
    margin-bottom: 10px;
}

#info-area .body-type-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

#age:hover,
#height:hover,
#weight:hover {
    border: 2px solid #009688;
    background-color: #e0f2f1;
    transition: all 0.3s;
}

.body-type-group label {
    margin: 0;
    cursor: pointer;
}

.body-type-group input[type="radio"] {
    margin-right: 5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border: 2px solid #009688;
    border-radius: 20%;
    appearance: none;
}

.body-type-group input[type="radio"]:checked {
    background-color: #009688;
    border-color: #15514a;
    transition: all 0.4s;
}

/* Error messages */
.error {
    display: block;
    font-weight: bold;
    text-align: left;
}

/* Calculate button */
.calc-bmi-button {
    display: block;
    width: 100%;
    background-color: #009688;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s;
}

.calc-bmi-button:hover {
    background-color: #15514a;
}

#reset-button {
    background-color: #E0E0E0;
    color: #333333;
}

#reset-button:hover {
    background-color: #aeb4b2;
}

/* Results area */
#bmi-calc,
#bmr-calc {
    max-width: 400px;
    padding: 20px;
    margin: 10px auto;
    background-color: #ffffff;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#bmi-calc p, #bmr-calc p {
    font-weight: 300;
}

#bmi-calc hr {
    width: 70%;
}

/* BMI category classes from script.js */
.calculation {
    text-align: center;
}

.bmi-value-class {
    font-weight: bold;
}

.underweight {
    color: blue;
    font-weight: bold;
}

.normal-weight {
    color: green;
    font-weight: bold;
}

.overweight {
    color: rgb(255, 128, 0);
    font-weight: bold;
}

.obesity {
    color: rgb(197, 4, 4);
    font-weight: bold;
}

/* BMI and BMR info section */
#bmi-info h3 {
    color: #009688;
    margin-bottom: 10px;
}

#bmi-info p {
    color: #757575;
    margin-bottom: 15px;
    line-height: 1.5;
}

#bmi-info strong {
    color: #474545;
}

#bmi-info #cate-underweight {
    color: blue;
}

#bmi-info #cate-normal {
    color: green;
}

#bmi-info #cate-overweight {
    color: rgb(255, 128, 0);
}

#bmi-info #cate-obesity {
    color: rgb(197, 4, 4);
}

#bmi-info em {
    color: #009688;
    font-style: normal;
}

/** Media queries **/

/* Media queries for tablets (768px & up) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 15px;
    }

    #logo {
        width: 300px;
    }

    #info-area,
    #bmi-calc,
    #bmr-calc {
        max-width: 70%;
        padding: 18px;
    }

    #bmi-info {
        padding: 18px;
    }

    h1,
    h2 {
        font-size: 25px;
    }

    .calc-bmi {
        padding: 10px;
    }
}

/* Media queries for screens (480px & up) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        padding: 10px;
    }

    #logo {
        width: 250px;
    }

    h1,
    h2 {
        font-size: 20px;
    }

    #info-area,
    #bmi-calc,
    #bmr-calc,
    #bmi-info {
        max-width: 95%;
        padding: 10px;
    }

    #bmi-calc hr {
        width: 90%;
    }

    #info-area label,
    #bmi-info p {
        font-size: 14px;
    }

    #info-area input[type="number"],
    .calc-bmi {
        padding: 8px;
        font-size: 12px;
    }

    .calc-bmi {
        font-size: 12px;
    }
}